<div class="row">
  <div class="col-md-12">
    <hr>
    <div class="qanswers-count">
      <h2><%= answers.count %> answers</h2>
    </div>
    <hr>
  </div>
</div>

<% if answers.count > 0 %>
    <% answers.each do |answer| %>
        <div id="answer_<%= answer.id %>">
          <div class="row">
            <div class="col-md-1">
              <div class="vote-actions">
                <a href="#">
                  <i class="fa fa-chevron-up fa-4x"> </i>
                </a>
                <div class="ques-upvote-count">32</div>
                <a href="#">
                  <i class="fa fa-chevron-down fa-4x"> </i>
                </a>
              </div>
            </div>
            <div class="col-md-11">
              <div class="ibox">
                <div class="ibox-content">

                  <%= answer.description.html_safe %>

                  <div class="row">
                    <div class="col-md-8">
                      <div class="vote-info">
                        <% if current_user == answer.user %>
                            <i class="fa fa-pencil-square"></i> <%= link_to 'Edit', edit_question_answer_path(answer.question, answer), remote: true %>
                            <i class="fa fa-trash"></i> <%= link_to 'Destroy', question_answer_path(answer.question, answer), method: :delete ,remote: true %>
                        <% end %>
                        <i class="fa fa-clock-o"></i> <%= distance_of_time_in_words(Time.now, answer.created_at) %>
                        <i class="fa fa-eraser"></i> <%= distance_of_time_in_words(Time.now, answer.updated_at) %>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="small">
                        <div class="social-avatar">
                          <a class="pull-left" href="<%= profile_path(answer.user.profile) %>">
                            <%= image_tag answer.user.profile.photo.present? ? answer.user.profile.photo_url(:thumb) : 'http://placehold.it/50x50' %>
                          </a>
                          <div class="media-body">
                            <a href="<%= profile_path(answer.user.profile) %>">
                              <%= answer.user.profile.name %>
                            </a>
                            <small class="text-muted">97 Points</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<% if user_can_give_answer(@question) %>
    <%= render :partial => 'answers/form', locals: {question: @question, answer: Answer.new} %>
<% end %>