<div class="row" id="qid_<%= @question.id %>">
  <div class="col-md-1 qvote-operations">
    <%= render :partial => 'shared/qvotes', locals: {question: @question} %>
  </div>
  <div class="col-md-8">
    <div class="ibox">
      <div class="ibox-content">
        <a class="btn-link" href="javascript:void(0)">
          <h2>
            <%= @question.title %>
          </h2>
        </a>

        <%= @question.description.html_safe %>

        <div class="row">
          <div class="col-md-8">
            <h5>Tags:</h5>
            <% @question.tag_list.each do |tag| %>
                <%= link_to tag, questions_path(t: tag), class: 'btn btn-primary btn-xs' %>
            <% end %>
          </div>
          <div class="col-md-4">
            <div class="small">
              <div class="social-avatar">
                <a class="pull-left" href="<%= profile_path(@question.user.profile) %>">
                  <%= image_tag @question.user.profile.photo.present? ? @question.user.profile.photo_url(:thumb) : 'http://placehold.it/50x50' %>
                </a>

                <div class="media-body">
                  <a href="<%= profile_path(@question.user.profile) %>">
                    <%= @question.user.profile.name %>
                  </a>
                  <small class="text-muted"><%= @question.user.profile.points %> Points</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="vote-info q-user-interactions">
      <% if current_user == @question.user %>
          <i class="fa fa-pencil-square"></i> <%= link_to 'Edit', edit_question_path(@question), 'data-no-turbolink' => true %>
          <i class="fa fa-trash"></i> <%= link_to 'Destroy', question_path(@question), method: :delete %>
      <% end %>
    </div>

    <div id="question-all-comments">
      <%= render :partial => 'comments/comments', locals: {comments: @comments, commentable: @question} %>
    </div>

    <div id="question-all-answers">
      <%= render :partial => 'questions/answers', locals: {answers: @question.answers.includes(:user => :profile)} %>
    </div>
  </div>


  <div class="col-md-3">
    <%= render :partial => 'shared/detail_sidebar', locals: {:question => @question} %>
  </div>
</div>