<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Profile Detail</h5>
          <% if current_user && current_user.profile == @profile %>
            <%= link_to edit_profile_path(@profile), 'data-no-turbolink' => true, class: 'pull-right'  do %>
                <i class="fa fa-edit"></i>
            <% end %>
          <% end %>
        </div>
        <div>
          <div class="ibox-content no-padding border-left-right text-center">
            <%= image_tag @profile.photo.present? ? @profile.photo_url(:general) : 'avatar_default_250x250.png', class: '' %>
          </div>
          <div class="ibox-content profile-content">
            <h4><strong><%= @profile.full_name %></strong></h4>
            <h5><i><%= @profile.title %></i></h5>
            <% if @profile.mobile %>
                <p><i class="fa fa-mobile"></i> <%= @profile.mobile %></p>
            <% end %>
            <h5>
              About me
            </h5>

            <p>
              <%= @profile.bio.html_safe if @profile.bio %>
            </p>

            <div class="row m-t-lg">
              <div class="col-md-4">
                <h5><strong><%= @user.questions.count %></strong> Questions</h5>
              </div>
              <div class="col-md-4">
                <h5><strong><%= @user.answers.count %></strong> Answers</h5>
              </div>
              <div class="col-md-4">
                <h5><strong><%= @profile.points %></strong> Points</h5>
              </div>
              <% if @profile.fb_link %>
                  <div class="col-md-12">
                    <%= link_to "https://facebook.com/#{@profile.fb_link}", "https://facebook.com/#{@profile.fb_link}" %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="ibox">
        <div class="ibox-content">
          <h5>Points Percentage division</h5>
          <% points = total_points_distribution(@user) %>
          <h2>Questions <%= points[0] %> - Answers <%= points[1] %></h2>
          <div class="text-center">
            <div id="sparkline6"><canvas style="display: inline-block; width: 140px; height: 140px; vertical-align: top;" width="140" height="140"></canvas></div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-container">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab-1" data-toggle="tab" aria-expanded="true"> Questions (<%= @user.questions.count %>)</a>
              </li>
              <li class="">
                <a href="#tab-2" data-toggle="tab" aria-expanded="false"> Answers (<%= @user.answers.count %>)</a></li>
              <!--<li class=""><a href="ecommerce_product.html#tab-3" data-toggle="tab"> Discount</a></li>-->
              <!--<li class=""><a href="ecommerce_product.html#tab-4" data-toggle="tab"> Images</a></li>-->
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-1">
                <div class="panel-body">
                  <% @user.questions.each do |question| %>
                      <div class="vote-item">
                        <div class="row">
                          <div class="col-md-2">
                            <span class="badge badge-info"><%= individual_points(question) %></span>
                          </div>
                          <div class="col-md-10">
                            <a class="vote-title" href="<%= question_path(question) %>">
                              <%= question.title %>
                            </a>
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="panel-body">
                  <% @user.answers.each do |answer| %>
                      <div class="vote-item">
                        <div class="row">
                          <div class="col-md-2">
                            <span class="badge badge-info"><%= individual_points(answer) %></span>
                          </div>
                          <div class="col-md-10">
                            <a class="vote-title" href="/questions/<%= answer.question.id %>/#answer_<%= answer.id %>">
                              <%= answer.question.title %>
                            </a>
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    $(document).ready(function() {

        var sparklineCharts = function(){
            $("#sparkline6").sparkline([<%= points[0] %>, <%= points[1] %>], {
                type: 'pie',
                height: '140',
                sliceColors: ['#ed5565', '#F5F5F5']
            });
        };

        var sparkResize;

        $(window).resize(function(e) {
            clearTimeout(sparkResize);
            sparkResize = setTimeout(sparklineCharts, 500);
        });

        sparklineCharts();


    });
</script>
