<div class="wrapper wrapper-content project-manager">
  <h4>Site Detail</h4>

  <table class="table small m-b-xs">
    <tbody>
    <tr>
      <td>
        Questions: <strong><%= all_questions.count %></strong>
      </td>
    </tr>
    <tr>
      <td>
        Answers: <strong><%= all_answers.count %></strong>
      </td>
    </tr>
    <tr>
      <td>
        Tags: <strong><%= all_tags.count %></strong>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="advertise-zone" style="margin-bottom: 15px">
    <%= image_tag 'http://placehold.it/230x250' %>
  </div>

  <h4>Top Tags</h4>

  <% all_tags.most_used(10).each do |tag| %>
      <a class="btn btn-white btn-sm" href="<%= questions_path(t: tag) %>" data-no-turbolink="true">
        <i class="fa fa-tag"></i> <%= tag %>
      </a>
      <%#= link_to tag, questions_path(t: tag), class: 'btn btn-primary btn-xs' %>
  <% end %>

  <ul class="todo-list m-t small-list ui-sortable">
    <h5>TOP Questions</h5>
    <% top_questions(nil).each do |ques| %>
        <li>
          <a class="check-link" href="<%= question_path(ques[3]) %>" data-no-turbolink="true">
            <span class="m-l-xs"><%= ques[2] %></span>
          </a>
        </li>
    <% end %>
  </ul>
</div>