<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">

    <a class="navbar-minimalize minimalize-styl-2" href="<%= root_path %>"><%= t('hello') %></a>

    <%= form_tag search_path, :method => :get, class: "navbar-form-custom" do %>
        <div class="form-group">
          <%= text_field_tag :keywords, params[:keywords], placeholder: "Search for something...",  class: "form-control", id: "top-search" %>
        </div>
    <% end %>

  </div>
  <ul class="nav navbar-top-links navbar-right">
    <li>
      <%= form_tag local_switcher_home_index_path, :class => 'locale' do %>
          <%= select_tag 'locale_set', options_for_select(LANGUAGES, I18n.locale.to_s), :onchange => 'this.form.submit()' %>
      <% end %>
    </li>

    <% if current_user %>
        <li class="user-info">
           <%= render :partial => 'shared/user_info' %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, :method => 'delete' do %>
              <i class="fa fa-sign-out"></i> Log out
          <% end %>
        </li>
    <% else %>
        <li>
          <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in"></i> Login
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
              <i class="fa fa-user-plus"></i> Signup
          <% end %>
        </li>
        <li>
          <%= link_to pages_rules_path do %>
              <i class="fa fa-bullhorn"></i> Rules
          <% end %>
        </li>
    <% end %>
  </ul>

</nav>