<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-md-4">
    <h2>IslamJanun</h2>
  </div>
  <div class="col-md-8 text-right">
    <h2>
      <%= link_to 'Ask Question', new_question_path, class: "btn btn-primary btn-md", 'data-no-turbolink' => true %>
      <%= link_to 'Questions', questions_path, class: "btn btn-primary btn-md"%>
      <%= link_to 'Users', users_path, class: "btn btn-primary btn-md" %>
      <%= link_to 'Tags', pages_tags_path, class: "btn btn-primary btn-md" %>
      <%= link_to 'Rules', pages_rules_path, class: "btn btn-primary btn-md" %>
    </h2>
  </div>
</div>