<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
      <ul class="notes">
        <li>
          <div>
            <p><%= t('rules.zero') %></p>
          </div>
        </li>
        <li>
          <div>
            <p><%= t('rules.one') %></p>
          </div>
        </li>
        <li>
          <div>
            <p><%= t('rules.two') %></p>
          </div>
        </li>
        <li>
          <div>
            <p><%= t('rules.three') %></p>
          </div>
        </li>
        <li>
          <div>
            <p><%= t('rules.four') %></p>
          </div>
        </li>
        <li>
          <div class="rule_five">
            <p><%= t('rules.five').html_safe %></p>
          </div>
        </li>
        <li>
          <div>
            <% link = link_to t('rules.link'), "https://github.com/imtiaz-emu/islamjanun/issues" %>
            <p><%= t('rules.six', :href => link ).html_safe %></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>