<%= form_for [:admin, @user], :html => {class: 'form user'} do |f| %>

    <%= render :partial => 'shared/errors', locals: {data_model: @user} %>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>First Name</label>
          <%= f.text_field :first_name, class: "form-control", placeholder: "Enter First name", required: true %>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <%= f.text_field :last_name, class: "form-control", placeholder: "Enter Last name", required: true %>
        </div>

        <div class="form-group">
          <label>Email</label>
          <%= f.text_field :email, class: 'form-control', placeholder: 'email', required: true %>
        </div>

        <% if @user.new_record? %>
            <div class="form-group">
              <%= f.label :password, :class => 'control-label' %>
              <div class="controls">
                <%= f.password_field :password, :class => 'form-control' %>
              </div>
            </div>
        <% end %>

        <div class="form-group roles-of-user">
          <label class="control-label">Select Role</label>

          <div class="controls">
            <% get_roles.each_with_index do |role, indx| %>
                <label class="radio">
                  <%= f.radio_button :role_id, role.id, :checked => @user.roles.include?(role), id: "optionsRadios#{indx}" %>
                  <%= role.name %>
                </label>
            <% end %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit nil, :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.cancel', :default => t('helpers.links.cancel')),
                      admin_users_path, :class => 'btn btn-default btn-xs' %>
        </div>
      </div>
    </div>



<% end %>