<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Islam Janun </title>

  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag "application_admin" %>

</head>
<body id="page-top" class="member-page">
<div class="row border-bottom">
  <%= render :partial => 'shared/site_navbar' %>
</div>
<div id="page-wrapper" class="gray-bg <%= params[:controller] + '-' + params[:action] %>">
  <%= render :partial => 'shared/top_options_bar' %>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>

